/client/client.sln
/client/Assembly-CSharp.csproj
/client/Assembly-CSharp-Editor.csproj
/client/Assembly-CSharp-Editor-firstpass.csproj
/client/Assembly-CSharp-firstpass.csproj
/client/Library
/client/Temp
